vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-ID4JA6E\\Moroz
vti_modifiedby:SR|DESKTOP-ID4JA6E\\Moroz
vti_timelastmodified:TR|03 Dec 2022 18:16:46 -0000
vti_timecreated:TR|01 Dec 2022 20:34:21 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{F347B0C0-0194-4F1B-96E8-CF0F4B06E6C8}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|01 Dec 2022 21:49:36 -0000
vti_cacheddtm:TX|01 Dec 2022 20:34:21 -0000
vti_filesize:IR|905
