vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-ID4JA6E\\Moroz
vti_modifiedby:SR|DESKTOP-ID4JA6E\\Moroz
vti_timelastmodified:TR|01 Dec 2022 20:06:38 -0000
vti_timecreated:TR|01 Dec 2022 20:06:38 -0000
vti_cacheddtm:TX|01 Dec 2022 20:06:38 -0000
vti_filesize:IR|28736
vti_cachedlinkinfo:VX|S|netglobl.gif S|netbkgnd.gif S|netbul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/network/netglobl.gif FSUS|_themes/network/netbkgnd.gif FSUS|_themes/network/netbul2.gif FSUS|_themes/network/toolgrad.gif FSUS|_themes/network/dot.gif FSUS|_themes/network/toolgrad.gif FSUS|_themes/network/theme.css FSUS|_themes/network/blank.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{EFE20747-751F-4D20-B9E0-B36E0322145C}
vti_backlinkinfo:VX|_themes/network/theme.css
